<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skelvia</title>
</head>
<body>
  <h1><%= challenge.title %></h1>
  <h3><u>Question:</u> <%= challenge.challengeDetail %></h3>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/myLectures/<%= challenge.LectureId %>/challenges/<%= challenge.id %>" method="post">
    <label for="">Write Your Answer:</label>
    <br>
    <textarea name="answer" id="" rows="4" cols="50"></textarea>
    <br>
    <button value="SUBMIT" type="submit">Submit</button>
  </form>
</body>
</html>