<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skelvia</title>
</head>
<body>
  <img src="<%= data.imageUrl %>" alt="<%= data.title %>" height="100">
  <br>
  <h1>Lecture "<%= data.title %>" Question list</h1>
  <br>
  <table border="1">
    <thead>
      <tr>
        <th>No</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.Challenges.forEach((e, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= e.title %></td>
          <td>
            <a href="/myLectures/<%= data.id %>/challenges/<%= e.id %>">Cek Tugas</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>